<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="designationFull">
      <th mat-header-cell *matHeaderCellDef>Designation Full</th>
      <td mat-cell *matCellDef="let committee">
        {{ committee.designation_full }}
      </td>
    </ng-container>
    <ng-container matColumnDef="committeeTypeFullName">
      <th mat-header-cell *matHeaderCellDef>Party</th>
      <td mat-cell *matCellDef="let committee">
        {{ committee.committee_type_full }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Committee Name</th>
      <td mat-cell *matCellDef="let committee">{{ committee.name }}</td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let committee">{{ committee.state_full }}</td>
    </ng-container>
    <ng-container matColumnDef="filingFrequency">
      <th mat-header-cell *matHeaderCellDef>Filing Frequency</th>
      <td mat-cell *matCellDef="let committee">
        {{ committee.filing_frequency | filingFrequency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastFileDate">
      <th mat-header-cell *matHeaderCellDef>Last Filed Date</th>
      <td mat-cell *matCellDef="let committee">
        {{ committee.last_file_date | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="formType">
      <th mat-header-cell *matHeaderCellDef>Form Type</th>
      <td mat-cell *matCellDef="let committee">{{ committee.form_type }}</td>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let committee">
        <button
          mat-mini-fab
          (click)="viewCommittee(committee)"
          aria-label="View Committee"
          color="primary"
          class="row-btn"
          matTooltip="View Committee"
          matTooltipPosition="above"
        >
          <mat-icon>business_center</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
