<app-header></app-header>
<button
  mat-button
  class="return-home"
  routerLink="/home"
  activatedRouterLink="activated"
>
  Return Home
</button>
<div class="container">
  <h2 *ngIf="message" class="message">{{ message }}</h2>
  <h1 *ngIf="committee">{{ committee.name }}</h1>
  <mat-tab-group
    (selectedTabChange)="tabChanged($event)"
    *ngIf="!message && committee"
  >
    <mat-tab label="Committee Info">
      <mat-card>
        <mat-card-content>
          <h3 class="more-info-header" *ngIf="committee.treasure_name">
            Treasure:
            <span class="more-info-text"> {{ committee.treasure_name }}</span>
          </h3>
          <h3 class="more-info-header" *ngIf="committee.form_type">
            Form Type:
            <span class="more-info-text">
              {{ committee.form_type | formType }}</span
            >
          </h3>
          <h3 class="more-info-header">
            First File Date:
            <span class="more-info-text">
              {{ committee.first_file_date | date }}</span
            >
          </h3>
          <h3 class="more-info-header">Cycles:</h3>
          <mat-list-item *ngFor="let year of committee.cycles">
            <p class="more-info-text" mat-line>{{ year }}</p>
          </mat-list-item>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Candidates">
      <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
      <app-candidate-table
        [data]="listOfCandidates"
        *ngIf="!isLoading && listOfCandidates"
      ></app-candidate-table>
    </mat-tab>
    <mat-tab label="Contributions">
      <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
      <app-contribution-table
        [data]="listOfContributors"
        *ngIf="!isLoading && listOfContributors"
      ></app-contribution-table>
    </mat-tab>
  </mat-tab-group>
</div>
