<div class="content-wrapper">
  <app-header></app-header>

  <div class="container">
    <div class="non-table-area">
      <app-search (onSearchTermChange)="search($event)"></app-search>
      <button
        mat-button
        class="reset-btn"
        (click)="reset()"
        *ngIf="listOfCandidates"
      >
        Reset Table
      </button>
    </div>

    <h2 *ngIf="message" class="message">{{ message }}</h2>
    <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
    <app-candidate-table
      [data]="listOfCandidates"
      *ngIf="listOfCandidates && !isLoadingResults"
    ></app-candidate-table>
  </div>
</div>
