.search {
  width: 350px;
  color: whitesmoke;
  margin-top: 25px;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: whitesmoke !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: whitesmoke !important;
  font-size: 1.2em;
}

.search-btn {
  color: whitesmoke;
}

.clear-btn {
  color: whitesmoke;
}

.error-message {
  color: #c62828;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
